:root{
    --primary-color:peach;
    --secondary-color:nylon;
    --head-font-family:Delius;
    --paragraph-font-family:Shadows into light;
}

.me {
    text-align: center;
    background: #a04646;
    padding:150px 20px;
}

p{
    margin: 0;
    font-weight: 30px;
    line-height: 2;
    font-size: 20px;
    font-family: var(--paragraph-font-family);
}

.btn-primary{
    background-color:white;
    border-radius:2px;
    color: blueviolet;
    font-size: 17px;
    line-height: 20px;
    padding:5px;
}

h1{
    font-family: var(--head-font-family);
    color:pink;
    font-size: 27px;
    font-weight: bold;
}

h2{
    color: black;
    font-size: 20px;
}